<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{surverForm.templateName}}</ion-title>
    <ion-buttons *ngIf="hasCloseButton" slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="messagearea" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="height: 1px;">
      <ion-title size="large" text-wrap style="height: 1px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>

<div style="margin-left: 20px;">
  <h1 class="ion-padding" style="font-size:34px; font-weight:800; margin-top:0px;">{{surverForm.templateName}}
  </h1>
  <ion-select interface="popover" [value]="selectedLanague" (ionChange)="onChangedLanague($event)" label="Langauge:" class="fr" placeholder="Polski">
    <ion-select-option value="pl">Polski</ion-select-option>
    <ion-select-option value="en">English</ion-select-option>
  </ion-select>
</div>

 <ion-card *ngFor="let question of surverForm.templateForm.questions" >
  <ion-card-header>
    <ion-card-title >
      <ion-label [class.required]='question.isRequired'>{{question.questionText.displayText(surverForm.templateForm.language)}}</ion-label>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form-question [question]="question"  [language]="surverForm.templateForm.language" [isDisabled]="false" [isEditable]="false"></form-question>
  </ion-card-content>  
</ion-card>
<div style="height: 100px;"></div>
 <ion-button *ngIf="!hasCloseButton" size="large" style="float: right; margin-right: 20px;" (click)="sendForm()">Send</ion-button>  
 <div style="height: 200px;"></div>


</ion-content>
<script>
  setInterval(function(){
  if( document.body.className.match('keyboard-open') ) {
  document.getElementById("messagearea").style.marginBottom="100px";
  }
              else{
                 document.getElementById("messagearea").style.marginBottom="0px";
              }

              }, 1000);
</script>


